/* body.dark{
    background-color: gray;
}
body{
    transition: .5s;
}
.box{
    width: 100px;
    height: 40px;
    border-radius: 20px;
    outline: 1px solid black;
    position: relative;
}
.check{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: black;
    transition: 1s ease-in-out transform;
    position: absolute;
    top: 0;
    left: 0;
}
.active{
    transform: translateX(60px);
} */




/* .form-js{
    width: 400px;
    border-radius: 20px;
    background-color: antiquewhite;
    padding: 40px;
    outline: 1px solid gray;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 0 auto;
}

.input-name,.input-email,.input-tel,.input-surname{
    width: 100%;
    height: 40px;
    border-radius: 5px;
    outline: 1px solid gray;
    border: none;
    padding-left: 20px;
}

.coment-js{
    width: 100%;
    height: 100px;
    resize: none;
    outline: 1px solid gray;
    padding-left: 20px;
    border: none;
}

.btn-submit, .btn-unsubmit{
    width: 200px;
    height: 50px;
    background-color: blue;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    color: white;
    display: block;
    margin: 0 auto;
} */


.form-js {
    width: 400px;
    border-radius: 20px;
    background-color: antiquewhite;
    padding: 40px;
    outline: 1px solid gray;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 0 auto;
}

.input-name, .input-surname, .input-email, .input-tel {
    width: 100%;
    height: 40px;
    border-radius: 5px;
    outline: 1px solid gray;
    border: none;
    padding-left: 20px;
}

.btn-submit, .btn-unsubmit {
    width: 200px;
    height: 50px;
    background-color: blue;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    color: white;
    display: block;
    margin: 0 auto;
    cursor: pointer;
}

.contact-list {
    width: 400px;
    margin: 20px auto;
    padding: 0;
    list-style: none;
}

.contact-list li {
    background-color: antiquewhite;
    margin-bottom: 15px;
    padding: 15px 20px;
    border-radius: 15px;
    outline: 1px solid gray;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
}

.contact-list span {
    flex: 1;
    color: #333;
}

.contact-list button {
    background-color: blue;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 6px 12px;
    cursor: pointer;
    margin-left: 10px;
    font-size: 14px;
}

